<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Products</title>
   <link rel="stylesheet" href="css/main.css">     
     
  </head>
  <body>
    <nav class="navclass">
      <a href="/">Shop</a>
      <a href="/admin/add-product">Products</a>
    </nav>
    <main>
      <h1>Abrsh Small Shop 🚀🚀</h1>
      <div class="card-container">
        <div class="card">
          <img src="assets/phone.png" alt="Smartphone" />

          <div class="card-content">
            <h2 class="card-title">Smartphone</h2>
            <p class="card-price">$699.99</p>
            <p class="card-description">Latest model with amazing features.</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/clothes.png" alt="Clothes" />
          <div class="card-content">
            <h2 class="card-title">Fashionable Clothes</h2>
            <p class="card-price">$49.99</p>
            <p class="card-description">
              Stylish and comfortable for any occasion.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="assets/watch.png"
            alt="Wrist Watch "
            width="240px"
            height="240px"
          />
          <div class="card-content">
            <h2 class="card-title">Wrist Watch</h2>
            <p class="card-price">$199.99</p>
            <p class="card-description">Elegant design with smart features.</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
